$neutral1: #fff;
$neutral2: #fafafa;
$neutral3: #f5f5f5;
$neutral4: #f0f0f0;
$neutral5: #d9d9d9;
$neutral6: #bfbfbf;
$neutral7: #8c8c8c;
$neutral8: #595959;
$neutral9: #434343;
$neutral10: #262626;
$neutral11: #1f1f1f;
$neutral12: #141414;
$neutral13: #000;

// GEEK BLUE COLOR BASED ON FIGMA
$geekBlue1: #f0f5ff;
$geekBlue2: #d6e4ff;
$geekBlue3: #adc6ff;
$geekBlue4: #85a5ff;
$geekBlue5: #597ef7;
$geekBlue6: #2f54eb;
$geekBlue7: #1d39c4;
$geekBlue8: #10239e;
$geekBlue9: #061178;
$geekBlue10: #030852;

// PRIMARY COLOR BASED ON BLUE COLOR AT FIGMA
$primary1: #e6f7ff;
$primary2: #bae7ff;
$primary3: #91d5ff;
$primary4: #69c0ff;
$primary5: #40a9ff;
$primary6: #1890ff;
$primary7: #096dd9;
$primary8: #0050b3;
$primary9: #003a8c;
$primary10: #002766;

// STATUS COLOR
$danger: #ff4d4f;
$warning: #faad14;
$success: #52c41a;

$red: $danger;
