@import "./colors.module.scss";
@import "./font.module.scss";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.display-none {
  display: none;
}

.uwebb-wrapper {
  position: relative;
  display: flex;
  height: 100vh;
}

.uwebb-navigator {
  position: relative;
  height: 100%;
  width: 15%;
  box-shadow: 3px 0 15px rgba(0, 0, 0, 0.05);
  z-index: 2;
  transition: 0.25s ease-in-out;

  &.collapsed {
    width: 5%;
  }
}

.uwebb-panel {
  position: relative;
  flex: 1;
  background: $neutral2;
}

.page-header {
  position: relative;
  background: $neutral1;
  padding: 32px 24px;

  .page-header__title {
    font-size: $textH4;
    font-weight: $textMedium;
    color: $neutral11;
    padding: 8px 0;
  }

  .page-header__subtitle {
    font-size: $textRegular;
    color: $neutral7;
  }
}

.content-box {
  position: relative;
  margin: 24px;
  padding: 24px;
  width: calc(100% - 48px);
  background: $neutral1;
  border-radius: 2px;

  .content-box__title {
    padding: 4px 0;
    display: flex;
    align-items: center;
    color: $neutral11;
    justify-content: space-between;

    .cb__title-text {
      position: relative;
      font-size: $textH5;
      font-weight: $textMedium;
    }
  }

  .content-box__content {
    margin-top: 24px;
  }
}

.in-center {
  position: relative;
  text-align: center;
  margin: 0 auto;

  > div {
    margin: 0 auto;
  }
}

.body-info-bold {
  position: relative;
  font-size: $textH5;
  font-weight: $textMedium;
  margin: 8px auto;
}

.body-info-sub {
  font-size: $textBody;
  font-weight: $textRegular;
}

.fieldError {
  position: relative;
  font-size: $textMiniInfo;
  color: $red;
  padding: 2px;
}

.link {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  color: $primary6;

  &:hover {
    text-decoration: underline;
  }
}
