@import "../../styles/colors.module.scss";
@import "../../styles/font.module.scss";

.Navigation {
  position: relative;
  background: $neutral1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blockLogo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;

  .logoBar {
    transition: 0.25s ease-in-out;
    position: relative;
    height: 40px;
  }

  svg {
    height: 100%;
    width: auto;
    display: block;
  }
}

.menuList {
  position: relative;
  width: 100%;
}

.menuItem {
  position: relative;
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  padding: 13px 16px;
  overflow: hidden;

  .icon {
    color: $neutral8;
  }

  .navname {
    width: 100%;
    height: 100%;
    color: $neutral11;
    margin-left: 10px;
    font-size: $textBody;
    font-weight: $textRegular;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: width 0ms 250ms, margin-left 250ms;
  }

  &:hover {
    background: $geekBlue1;
    transition: 0s;

    * {
      transition: 0s;
      color: $geekBlue5;
    }
  }

  &:active {
    background: $geekBlue2;
  }

  &.active {
    background: $geekBlue1;

    .navname,
    .icon {
      color: $geekBlue6;
    }
  }

  &.collapsed {
    justify-content: center;

    .navname {
      width: 0%;
      margin-left: 0;
      transition: width 250ms 0ms, margin-left 250ms;
    }
  }

  &.logout {
    color: $danger;

    * {
      color: $danger;
    }

    &:hover {
      transition: 0s;
      background: $danger;
      color: $neutral1;

      * {
        transition: 0s;
        color: $neutral1;
      }
    }
  }
}

.collapser {
  position: relative;
  border-top: 1px solid $neutral4;

  button {
    padding: 13px 16px;
    transition: 0.15s ease-in-out;
    transform: rotate(0);
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: $neutral7;
  }

  &:hover {
    background: $neutral4;
  }

  &.collapsed {
    button {
      transform: rotate(180deg);
    }
  }
}

.Navigation.collapsed {
  .blockLogo .logoBar {
    height: 20px;
  }
}
